@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#kurslar .col-lg-12 h1 {
  color: #00c20a;
  font-family: 'Dongle', sans-serif;
  margin-top: 100px;
  font-size: 40px;
  font-weight: 700;
}

#kurslar .wrap {
  max-width: 350px;
  cursor: pointer;
  min-height: 450px;
  position: relative;
  overflow: hidden;


  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  margin: auto;
}

#kurslar .wrap .imgBx {
  margin: auto;
}

#kurslar .wrap .imgBx img {
  max-width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  min-height: 100%;
}

#kurslar .wrap:hover .imgBx img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#kurslar .wrap:hover {
  background: #212528;
}

#kurslar .wrap:hover .content p {
  color: white;
}

#kurslar .wrap .imgBx .box {
  position: absolute;
  top: 10px;
  opacity: 0;
  left: 0px;
  background-color: #03a803;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 700;
  padding: 10px 20px;
}

#kurslar .wrap .imgBx .box h1 {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#kurslar .wrap:hover .imgBx .box {
  position: absolute;
  opacity: 1;
  top: 10px;
  left: 10px;
}

label, input::-webkit-input-placeholder {
  font-size: 13px;
}

label, input:-ms-input-placeholder {
  font-size: 13px;
}

label, input::-ms-input-placeholder {
  font-size: 13px;
}

label, input::placeholder {
  font-size: 13px;
}

input {
  font-style: 20px;
}

#kurslar .wrap .content h1 {
  font-size: 23px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 25px;
  color: #03a803;
}

#kurslar .wrap .content p {
  font-size: 18px;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 400;
  font-weight: 600;
  color: #302f2f;
  margin-left: 10px;
}

#kurslar .wrap .content p span {
  font-size: 18px;
  color: #00028a;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#kurslar .wrap .content p span:hover {
  color: #03a803;
}

#kurslar .wrap:hover .abaut p {
  color: silver;
}

#kurslar .wrap .abaut {
  padding: 10px;
}

#kurslar .wrap .abaut p {
  font-size: 20px;
  color: #494949;
}

@media (max-width: 340px) {
  #kurslar .wrap .abaut p {
    font-size: 16px !important;
  }
  #kurslar .wrap .content p, p span {
    font-size: 14px !important;
  }
}
#kurslar ul li a {
  font-size: 18px;
  color: black;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

#kurslar ul li a:hover {
  color: #02c702;
}

@media (min-width: 1140px) {
  #kurslar .wrap {
    width: 400px;
  }
}
/*# sourceMappingURL=kurslar.css.map */